# To make this work...
# (1)	copy/paste the appropriate values from your application's settings 
#		on Twitter into the JSON object below
# (2)	remove this comment
# (3)	save file as 'twitter_credentials.json'
{
	"CONSUMER_KEY": "YOUR_APP_KEY",
	"CONSUMER_SECRET": "YOUR_APP_SECRET",
	"ACCESS_TOKEN": "YOUR_ACCESS_TOKEN",
	"ACCESS_TOKEN_SECRET": "YOUR_ACCESS_TOKEN_SECRET"
}